<!DOCTYPE html>
<html lang="en">
<head>
    <title>ASP.NET Web API</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/highcharts.js")" type="text/javascript"></script>

        <script type="text/javascript">
            $(document).ready(function () {
                // Send an AJAX request
                $.getJSON("api/temperature/latest",
                function (data) {
                    // On success, 'data' contains a list of products.
                    $.each(data, function (key, val) {

                        if (key != "TemperatureFahrenheit") return;
                        // Format the text to display.
                        var str = val;
                        //var str = val.MeasurementTimestamp + ":      " + val.TemperatureFahrenheit + "F";

                        $('#latest').text(str);

                        // Add a list item for the product.
                        $('<li/>', { text: str })
                        .appendTo($('#products'));
                    });
                });

                $.getJSON("api/temperature/trend",
                    function (data) {
                        var trend = '↑';
                        switch (data) {
                            case 0:
                                trend = '↑';
                                break;
                            case 1:
                                trend = '↓';
                                break;
                            case 2:
                                trend = '↔';
                                break;
                        }
                        $('#trend').text(trend);
                    });

                $.getJSON("api/temperature/",
                    function (data) {
                        var series = {};
                        
                        $.each(data, function (key, val) {
                            var source = val.Source;
                            var items;
                            if (!series[source]) {
                                series[source] = {
                                    name: source,
                                    data: []
                                };
                            }
                            items = series[source];
                            var d = new Date(val.MeasurementDateTimeUtc);
                            items.data.push([Date.UTC(d.getFullYear(), d.getMonth(), d.getDate(), d.getHours(), d.getMinutes(), d.getSeconds()), val.TemperatureFahrenheit]);
                        });

                        var data = [];
                        for (var s in series) {
                            data.push(series[s]);
                        }
                                                
                        var chart = new Highcharts.Chart({
                            chart: {
                                renderTo: 'container',
                                type: 'spline',
                                zoomType: 'x'
                            },
                            title: {
                                text: 'Last 24 Hours'
                            },
                            xAxis: {
                                type: 'datetime',
                                dateTimeLabelFormats: {
                                    hour: '%I:%M %p'
                                },
                                maxZoom: 24 * 3600000 // 1 day
                            },
                            yAxis: {
                                title: {
                                    text: 'Fahrenheit'
                                }
                            },
                            tooltip: {
                                formatter: function() {
                                    return this.series.name + '<br/>' +  Highcharts.dateFormat("%l:%M %p", this.x, true) + '<br/>' + this.y +'°F';
                                }
                            },
                            plotOptions: {
                                spline: {
                                    lineWidth: 4,
                                    states: {
                                        hover: {
                                            lineWidth: 5
                                        }
                                    },
                                    marker: {
                                        enabled: false
                                    }
                                }
                            },
                            legend: {
                                enabled: true
                            },
                            series: data
                        });
                    });
            });
        </script>
    <style>
        .latest {
            font-size: xx-large;
            font-weight:bold
        }
    </style>
</head>
<body id="body" >
    <div class="main-content">
        <div class="latest">
            Currently:&nbsp;<span id="latest"></span>°F&nbsp;<span id="trend"></span>
        </div>
        <div id="container" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
    </div>
</body>
</html>