
<div class="main-content">
    <div class="latest">
        Currently:
        <ul id="latest_temperatures"></ul>
    </div>
    <div id="container" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
</div>

@section Scripts{
<script src="/bundles/sitejs" type="text/javascript"></script>

<script type="text/javascript">
    $(document).ready(function () {
        loadLatestTemperatures();
        fillTemperatureChart();
    });
</script>

}