<!DOCTYPE html>
<html lang="en">
<head>
    <title>ASP.NET Web API</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/highcharts.js")" type="text/javascript"></script>

        <script type="text/javascript">
            $(document).ready(function () {
                // Send an AJAX request
                $.getJSON("api/temperature/latest",
                function (data) {
                    // On success, 'data' contains a list of products.
                    $.each(data, function (key, val) {

                        if (key != "TemperatureFahrenheit") return;
                        // Format the text to display.
                        var str = val;
                        //var str = val.MeasurementTimestamp + ":      " + val.TemperatureFahrenheit + "F";

                        $('#latest').text(str);

                        // Add a list item for the product.
                        $('<li/>', { text: str })
                        .appendTo($('#products'));
                    });
                });

                $.getJSON("api/temperature/",
                    function (data) {
                        var items = [];
                        
                        //[Date.UTC(1970, 9, 27), 0],
                        $.each(data, function (key, val) {
                            var d = new Date(val.MeasurementDateTimeUtc);
                            items.push([Date.UTC(d.getFullYear(), d.getMonth(), d.getDate(), d.getHours(), d.getMinutes(), d.getSeconds()), val.TemperatureFahrenheit]);
                        });

                        // reverse the data so 
                        items = items.reverse();
                                                
                        var chart = new Highcharts.Chart({
                            chart: {
                                renderTo: 'container',
                                type: 'line'
                            },
                            title: {
                                text: 'Last 24 Hours',
                                x: -20
                            },
                            xAxis: {
                                type: 'datetime'
                            },
                            yAxis: {
                                title: {
                                    text: 'Fahrenheit'
                                }
                            },
                            tooltip: {
                                formatter: function() {
                                    return this.x + '<br/>' + this.y +'°F';
                                }
                            },
                            legend: {
                                enabled: false
                            },
                            series: [{
                                data: items
                            }]
                        });
                    });
            });
        </script>
    <style>
        .latest {
            font-size: xx-large;
            font-weight:bold
        }
    </style>
</head>
<body id="body" >
    <div class="main-content">
        <div>
            <h1>Latest Temperature</h1>
            <span id="latest" class="latest"></span>
        </div>
        <div id="container" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
    </div>
</body>
</html>