@model DisplayTemperatureWebApp.ViewModels.InlineViewModel

<div id="latest">
    <h1>Current Readings:</h1>
    <ul id="latest_temperatures" class="list-group">
        @foreach(var temperatureInfo in Model.LatestTemperatures)
        {
            var text = temperatureInfo.SourceName + ": " + temperatureInfo.TemperatureFahrenheit + "°F";
            <li class="list-group-item latest-reading">@text</li>
        }
        @foreach (var humidityInfo in Model.LatestHumidities)
        {
            var text = humidityInfo.SourceName + ": " + humidityInfo.HumidityPercentage + "%";
            <li class="list-group-item latest-reading">@text</li>
        }
    </ul>
</div>
<div id="history">
    <h1>History:</h1>
    <div id="container" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
</div>

@section Scripts{
    @Scripts.Render("~/bundles/sitejs")

    <script type="text/javascript">
    $(document).ready(function () {
        var temperatures = getTemperatures();
        var temperaturedata = convertToInlineChartData(temperatures);
        renderChart('container', temperaturedata);
    });

    function convertToInlineChartData(data){
        var chartData = [];

        $.each(data, function(_, series){
            var d = [];
            $.each(series.Values, function(__, val){
                var dt = toJavaScriptDate(val.W);
                var utc = Date.UTC(dt.getFullYear(), dt.getMonth(), dt.getDate(), dt.getHours(), dt.getMinutes(), dt.getSeconds());
                d.push([utc, val.Value]);
            });
            var s = { name:series.Name, data:d };
            chartData.push(s);
        });

        return chartData;
    }

    function toJavaScriptDate(value) {
        var pattern = /Date\(([^)]+)\)/;
        var results = pattern.exec(value);
        var dt = new Date(parseFloat(results[1]));
        return dt;
    }

    function getTemperatures() {
        var temperatures = @Html.Raw(Json.Encode(Model.Temperatures));
        return temperatures;
    }
    </script>

}